@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */

  &::-webkit-scrollbar {
    width: 0px; /* Chrome, Safari, Opera */
  }
}

body {
  background: #f9f9f9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

.containerSidebar {
  /*h-max*/
  display: fixed;
  right: 0;
  top: 0;
  z-index: 50;
}

.containerContent {
  width: 100%;
  height: 100%;
}
